:root {
  --ff: 'Rubik', sans-serif;

  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  --color-very-dark-blue: #0E1323;
  --color-dark-blue: #1C204B;
  --color-dark-purple: #7335D2;
  --color-blueish-purple: #5747EA;
  --color-purple: #7078C9;
  --color-lilac: #BBC0FF;
  --color-white: #FFFFFF;
  --color-powder-blue: #55C2E6;
  --color-orange: #FF8B64;
  --color-light-red: #FF5E7D;
  --color-light-green: #4BCF82;
  --color-light-yellow: #F1C75B;


  // components
  --user-card-w: 327px;
  --user-card-h: 203px;

  --time-card-w: var(--user-card-w);
  --time-card-h: 160px;

  --border-radius: 0.8rem;

  @media (min-width: 1440px) {
    // components
    --user-card-w: 255px;
    --user-card-h: 518px;

    --time-card-w: 255px;
    --time-card-h: 244px;
  }
}

body {
  font-family: var(--ff);
  background-color: var(--color-very-dark-blue);
  color: var(--color-white);
}
